@font-face {
  font-family: 'OrchideaPro';
  font-style: normal;
  font-weight: 500;
  src:
    url('../../assets/font/OrchideaPro-Medium.woff2') format('woff2'),
    url('../../assets/font/OrchideaPro-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 300;
  src:
    url('../../assets/font/Circe-Light.woff2') format('woff2'),
    url('../../assets/font/Circe-Light.woff') format('woff');
}
