//fonts
$font-default: Avenir, Helvetica, Arial, sans-serif;
$font-circe: Circe, $font-default;
$font-orchidea-pro: OrchideaPro, $font-default;

//color
$color-primary: #4e76c6;
$color-line: #eceae7;
$color-bg: #f5f3f0;
$color-hover: #426bbd;
$color-active: #3e64b0;
$color-press: #000000;
$color-text: #1e1e1e;
$color-text-secondary: #72716e;
$color-link: #4e76c6;
$color-icon: #2c2d2e;
$color-icon-secondary: #bfc0c7;
$color-box-shadow: 0px 4px 24px rgba(46, 67, 108, 0.15);
