.hero {
  margin-top: -66px;
  padding-top: 66px;

  background:
    center calc(100% - 37px) / 34px no-repeat url(assets/svg/icon-flowers.svg),
    linear-gradient(0deg, rgba(34, 39, 48, 0.5) 0%, rgba(34, 39, 48, 0) 100%),
    42% 96% / 192% no-repeat url(assets/img/hero/img_hero.jpg);
  width: 100%;
  height: calc(100vh - 66px);

  &__link {
    position: absolute;

    color: $color-white;

    font-family: $font-orchidea-pro;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;

    &::before {
      content: '';
      position: absolute;
      top: -11px;
      left: -55px;

      width: 40px;
      height: 40px;
      border-radius: 50%;

      background-color: $color-white;
      opacity: 0.2;
    }

    &::after {
      content: '';
      position: absolute;
      top: 5px;
      left: -40px;

      width: 8px;
      height: 8px;
      border-radius: 50%;

      background-color: $color-white;
    }

    &.hero__link--after {
      &::before {
        left: auto;
        right: -55px;
      }

      &::after {
        left: auto;
        right: -38px;
      }
    }

    &:nth-child(1) {
      top: 117px;
      left: 165px;
    }

    &:nth-child(2) {
      top: 205px;
      left: 75px;
    }

    &:nth-child(3) {
      top: 307px;
      left: 194px;
    }

    &:nth-child(4) {
      top: 394px;
      left: 75px;
    }

    &:nth-child(5) {
      top: 458px;
      left: 140px;
    }
  }
}
